.app {
  &.app-search {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'searchInput searchInput'
                         'resultList resultSelected';

    .search-box {
      grid-area: searchInput;
    }

    .search-results {
      grid-area: resultList;
    }

    .selected-result {
      grid-area: resultSelected;
    }
  }
}