.app {
  padding: 2rem;

  &.app-search {
    display: grid;
    grid-template-columns:  minmax(max-content, 400px) 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'searchInput searchInput'
                         'resultList resultSelected';
    justify-content: space-evenly;
    grid-gap: 1rem;

    .search-box {
      grid-area: searchInput;
      justify-self: stretch;
    }

    .search-results {
      grid-area: resultList;
    }

    .selected-result {
      grid-area: resultSelected;
      justify-self: stretch;
      padding: 0.5em;
    }
  }
}