.selected-result {

  .sub-title {
    margin: 1.25em 0 0.25em 0;
    font-weight: bold;
    color: $accent-color-primary;
  }

  .map-details {
    margin-bottom: 1em;
    position: relative;

    #map-canvas {
      width: 100%;
    }
  }
}